/* General styles */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.about h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
}

.about__img {
  width: 100%;
  height: 100%;
  max-width: 700px;
}

@media (max-width: 420px) {
  .about {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .about h1 {
    font-size: 2.5rem;
  }

  .about p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .about h1 {
    font-size: 3rem;
  }

  .about p {
    font-size: 1.4rem;
  }
}
